<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script>$(document).ready(function(){

      $('#isthisit').html('<p>JS Works</p>');
  
      var socket = io.connect();
      socket.on('connect', function(msg) {
          //$('#weather_data').append('<p>Temperature: ' + msg.data + '</p>');
          $('#weather').append('<p>Connected</p>');
      });
      socket.on('weather_event', function(msg) {
          //$('#weather_data').append('<p>Temperature: ' + msg.data + '</p>');
          $('#weather').html("Gerade hat es" + msg.temp + "Grad");
      });
      socket.on('test_event', function(msg) {
          //$('#weather_data').append('<p>Temperature: ' + msg.data + '</p>');
          $('#isthisit').append(msg.content);
      });
    });
    </script>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      -->
    </head>

<div class="container">
<title>  Wie übergebe ich Variablen in Flask </title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
</div>
<div id="weather"></div>
</html>