<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script>$(document).ready(function(){

      $('#isthisit').html('<p>JS Works</p>');
  
      var socket = io.connect();
      socket.on('connect', function(msg) {
          $('#debug').append('<p>Connected</p>');
      });
      socket.on('weather_event', function(msg) {
          $('#weather_today').html("Heute: <p> Max:" + msg.today.tempMax + "Grad</p>"
                                    + "<p> Min:" + msg.today.tempMin + "</p>");
      });
      socket.on('news_event',function(msg){
        $('#news').html(msg.title0+"</br>" +msg.title1+"</br>"+msg.title2+"</br>")
      });
    });
    </script>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      -->
    </head>

<div class="container">
<title>  Wie übergebe ich Variablen in Flask </title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
</div>
<div id=debug></div>
<h2>Wetter</h2>
<div id="weather_today"></div>
<div id="weather_tomorrow"></div>
<h2>News:</h2>
<div id="news"></div>
</html>